<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covm">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/covm"
        android:label="C.O.V.M"
        android:roundIcon="@drawable/covm"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".agenda_consultar"></activity>
        <activity android:name=".turnos" />
        <activity android:name=".altaturno" />
        <activity android:name=".ListaFotos" />
        <activity android:name=".camara" />
        <activity android:name=".foto" />
        <activity android:name=".odontograma" />
        <activity
            android:name=".agenda"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".adap_aranceles" />
        <activity
            android:name=".aranceles"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".adap_prestaciones" />
        <activity
            android:name=".prestaciones"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".padron" />
        <activity android:name=".adap_cta_corriente" />
        <activity android:name=".cta_corriente" />
        <activity android:name=".menu" />
        <activity
            android:name=".Pt"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Abc_pt"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".VerComprobante" />
        <activity android:name=".Configuracion" />
        <activity
            android:name=".Pacientes"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AltaPaciente" />
        <activity android:name=".VerPaciente" />
        <activity android:name=".Verpt" />
        <activity android:name=".Firma" />
        <activity android:name=".Cuentacorriente" />
        <activity
            android:name=".Consulta_cod_pt"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".VerPaciente" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>